:host {
  background-color: var(--lumo-contrast-10pct);
  box-sizing: border-box;
  display: block;
  font-size: var(--lumo-font-size-m);
  height: 100%;
  overflow: auto;
  padding: var(--lumo-space-m) var(--lumo-space-l);
}
#dashboard-view {
  height: 100%;
  width: 50%;
}

.card-item{
	padding: 10px;
	display: inline-block;
}

